@font-face {
  font-family: 'raleway';
  src: url('Raleway/Raleway-VariableFont_wght.ttf') format('ttf'),
    url('Raleway/Raleway-Italic-VariableFont_wght.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'raleway';
  margin: 0;
}

.bloc,
#hosting,
#activities {
  margin-left: 56px;
  width: 92%;
  font-family: 'raleway';
}

/*barre de navigation*/
.bar-search h1 {
  font-size: 20px;
  margin-bottom: 0px;
  padding-bottom: 0;
}
.bar-search p {
  padding-top: 0;
  margin-top: 12px;
  font-family: 'raleway';
  font-size: 13px;
}

.navigation-bar {
  display: grid;
  grid-template-columns: 9fr 1fr 1fr 1fr;
}

.navigation-signup a {
  color: #0065fc;
}

.navigation-menu {
  display: flex;
  justify-content: center;
  padding: 3em 0 3em 0;
  border-top: 2px solid white;
}

.navigation-logo {
  display: flex;
  align-items: center;
}

.navigation-signup {
  display: flex;
  justify-content: center;
  padding: 3em 0 3em 0;
  border-top: 2px solid white;
}

.navigation-menu:hover,
.navigation-menu:active {
  border-top: 3px solid #0065fc;
  margin-top: 0;
}

.navigation-menu:hover a,
.navigation-menu:active a {
  color: #0065fc;
}
/*Header*/
.enter-search {
  display: flex;
  flex-wrap: nowrap;
  width: 50px;
  height: 40px;
  margin-bottom: 14px;
}
.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
}

.btn-map button {
  background-color: #f2f2f2;
  border: none;
  height: 40px;
  width: 42px;
  border-radius: 0.5rem 0 0 0.5em;
}

input {
  border: none;
  padding-left: 5px;
  font-family: 'raleway';
  font-weight: bold;
  color: black;
}

.btn-search button {
  background-color: #0065fc;
  border: none;
  height: 40px;
  width: 120px;
  border-radius: 0 0.5rem 0.5rem 0;
}

.btn-search button a {
  color: white;
}

.filter-search {
  display: flex;
  grid-gap: 10px;
  align-items: center;
  justify-content: flex-start;
}

.filter-element {
  display: flex;
  border-radius: 1.5em;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  box-shadow: 0 0 0 1px white;
  border: 2px solid #deebff;
}

.filter-element--icon {
  background-color: #deebff;
  color: #0065fc;
  border-radius: 100%;
  height: 3em;
  width: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  right: 3px;
}

.filter-element--title {
  margin: 0 1rem 0 1rem;
  font-weight: bold;
}
.filter-search p {
  padding-right: 11px;
  font-family: 'raleway';
  font-weight: bold;
}

.btn-filter {
  border: solid 2px #f2f2f2;
  border-radius: 1.5rem 1.5rem 1.5rem 1.5em;
  margin-right: 20px;
}

.btn-filter i {
  color: #0065fc;
  background-color: #deebff;
  border-radius: 50%;
  padding: 10px;
  margin-right: 9px;
}

.info-city {
  display: flex;
}
.cercle {
  height: 10px;
  width: 10px;
  border: 2px solid #f2f2f2;
  border-radius: 50%;
}

.info-city i {
  padding: 6px;
  text-align: center;
  font-size: 12px;
  margin-top: 11px;
  color: #0065fc;
  margin-right: 5px;
}

/*resultat*/

.accomodation-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  border-radius: 2%;
  gap: 34px;
  margin-top: 38px;
}

.accomodation-container-results {
  background-color: #f2f2f2;
  border-radius: 5%;
  padding: 30px;
}

a {
  text-decoration: none;
  color: black;
}

h4 {
  margin-top: 0;
  margin-bottom: 6px;
}

.accomodation-container p {
  margin-top: 0;
}
.starsrate .fas {
  color: #0065fc;
}

.starsrate .false {
  color: #f2f2f2;
}

/*block1*/

.accomodation-container-results-grid--element---description {
  text-decoration: none;
}

.accomodation-container-results-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-row: 2;
  gap: 28px;
}

.accomodation-container-results-grid--element {
  background-color: rgb(255, 254, 254);
  display: grid;
  grid-template-rows: 1fr;
  border-radius: 7%;
  padding: 3px;
  box-shadow: 0px 3px 12px 0px rgb(196 196 196);
  width: 93%;
}

.accomodation-container-results-grid--element---image-container {
  height: 113px;
  overflow: hidden;
}

.accomodation-container-results-grid--element---image {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  text-align: center;
}

.accomodation-container-results-grid--element---description {
  margin-top: 10px;
  margin-left: 12px;
  margin-bottom: 10px;
}

/*populaire*/

.accomodation-container-populars {
  background-color: #f2f2f2;
  border-radius: 2rem;
  padding: 30px;
}

.accomodation-container-populars-grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-row: 2;
  gap: 28px;
}

.accomodation-container-populars-grid--element {
  background-color: rgb(255, 254, 254);
  gap: 12px;
  border-radius: 1.5rem;
  padding: 3px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0px 3px 12px 0px rgb(196 196 196);
}

.accomodation-container-populars-grid--element---image {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  border-top-left-radius: 1.5em;
  border-bottom-left-radius: 1.5em;
  text-align: center;
}

.accomodation-container-populars-grid--element---description {
  margin-top: 10px;
  margin-left: 4px;
  padding-right: 33px;
}

.accomodation-container-populars-grid--element---description p {
  margin-bottom: 41px;
}

/*activités*/
.activites-container {
  margin-bottom: 50px;
  margin-top: 50px;
}

.activities-container {
  display: grid;
  grid-template-columns: 25% 21% 25% 21%;
  grid-template-rows: 50% 50%;
  grid-template-areas:
    'card1 card2 card4 card5'
    'card1 card3 card4 card6';
  row-gap: 2rem;
  column-gap: 2rem;
  height: 485px;
  margin-bottom: 75px;
}
.activities-container-element {
  display: grid;
  grid-template-rows: 80% 20%;
  width: 100%;
  box-shadow: 0px 3px 12px 0px rgb(196 196 196);
  border-radius: 1.5rem;
  background-color: white;
  color: black;
}

.activities-container-element--image-src {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  border-top-left-radius: 1.5em;
  border-top-right-radius: 1.5em;
}

.card1,
.card4 {
  display: grid;
  grid-template-rows: 90% 10%;
  width: 100%;
  box-shadow: 0px 3px 12px 0px rgb(196 196 196);
  background-color: white;
  color: black;
}

.card1 {
  grid-area: card1;
}

.card2 {
  grid-area: card2;
}

.card3 {
  grid-area: card3;
}

.card4 {
  grid-area: card4;
}

.card5 {
  grid-area: card5;
}

.card6 {
  grid-area: card6;
}

.activities-container-element > h4 {
  display: flex;
  align-items: center;
  padding-left: 1.5em;
}

.activities-title {
  margin-top: 4px;
  padding-left: 10px;
}

footer {
  background-color: rgb(245, 244, 244);
  padding-bottom: 50px;
  padding-top: 10px;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 60px;
}

@media (max-width: 720px) {
  .accomodation-container-populars-grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row: 2;
    grid-template-columns: 100%;
    gap: 28px;
  }

  .accomodation-container-populars {
    grid-area: accomodation-container-populars;
    border-radius: 0px;
    width: 111%;
  }

  #hosting {
    margin-left: 0px;
    width: 100%;
    font-family: 'raleway';
  }

  .bloc,
  #activites {
    margin-left: 9px;
    width: 100%;
    font-family: 'raleway';
  }

  .navigation-bar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50% 50%;
    grid-template-areas:
      'menu1 menu4'
      'menu2 menu3';

    width: 100%;
  }

  .menu1 {
    grid-area: menu1;
  }
  .menu2 {
    grid-area: menu2;
  }
  .menu3 {
    grid-area: menu3;
  }
  .menu4 {
    grid-area: menu4;
  }

  .filter-search {
    display: flex;
    grid-gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    width: 97%;
  }

  .accomodation-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      'accomodation-container-populars'
      'accomodation-container';
    margin-top: 38px;
  }

  .accomodation-container-results {
    background-color: unset;
    border-radius: 5%;
    padding: 30px;
    width: 114%;
  }

  .accomodation-container-results-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-row: 2;
    gap: 28px;
  }

  .activities-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin-bottom: 75px;
    column-gap: 0rem;
    row-gap: 0rem;
    height: 413px;
  }

  .activities-container-element {
    display: grid;
    grid-template-rows: 1fr;
    width: 72%;
    box-shadow: 0px 3px 12px 0px rgb(196 196 196);
    border-radius: 1.5rem;
    background-color: white;
    color: black;
    height: 58%;
  }

  .activities-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      'card1'
      'card2'
      'card3'
      'card4'
      'card5'
      'card6';
    row-gap: 2rem;
    column-gap: 2rem;
    height: 485px;
    margin-bottom: 75px;
  }
}
