@font-face {
  font-family: "Raleway";
  src: url(./assets/Raleway/static/Raleway-Medium.ttf);
}

* {
  font-family: "Raleway", Sans-serif;
}

body {
  width: auto;
  height: auto;
  margin: 0;
}

.bloc,
#hosting {
  padding-bottom: 0px;
  padding-left: 30px;
  padding-right: 30px;
}

#activities {
  padding: 35px;
}

/*barre de navigation*/
.bar-search h1 {
  font-size: 20px;
  margin-bottom: 0px;
  padding-bottom: 0;
}
.bar-search p {
  padding-top: 0;
  margin-top: 12px;
  font-size: 13px;
}

.navigation-bar {
  display: grid;
  grid-template-columns: 9fr 1fr 1fr 1fr;
}

.navigation-signup a {
  color: #0065fc;
}

.navigation-menu {
  display: flex;
  justify-content: center;
  padding: 3em 0 3em 0;
  border-top: 2px solid white;
}

.navigation-logo {
  display: flex;
  align-items: center;
}

.navigation-signup {
  display: flex;
  justify-content: center;
  padding: 3em 0 3em 0;
  border-top: 2px solid white;
}

.navigation-menu:hover,
.navigation-menu:active {
  border-top: 3px solid #0065fc;
  margin-top: 0;
}

.navigation-menu:hover a,
.navigation-menu:active a {
  color: #0065fc;
}
/*Header*/
.enter-search {
  display: flex;
  flex-wrap: nowrap;
  width: 50px;
  height: 40px;
  margin-bottom: 14px;
}
.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
}

.btn-map button {
  background-color: #f2f2f2;
  border: none;
  height: 40px;
  width: 42px;
  border-radius: 0.5rem 0 0 0.5em;
}

input {
  border: none;
  padding-left: 5px;
  font-weight: bold;
  color: black;
}

input:focus {
  border: none;
  outline: none;
  border: 1px solid #f2f2f2 !important;
}
input {
  border: 1px solid #f2f2f2;
}

.btn-search button {
  background-color: #0065fc;
  color: white;
  border: none;
  height: 40px;
  width: 120px;
  border-radius: 0 0.5rem 0.5rem 0;
}

.btn-search button:hover {
  background-color: #023888;
  border: none;
  height: 40px;
  width: 120px;
  border-radius: 0 0.5rem 0.5rem 0;
}

.btn-search-mobile {
  display: none;
}

.btn-search button a {
  color: white;
}

.filter-search {
  display: flex;
  grid-gap: 10px;
  align-items: center;
  justify-content: flex-start;
}

.filter-element {
  display: flex;
  border-radius: 1.5em;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  box-shadow: 0 0 0 1px white;
  border: 2px solid #deebff;
}

.filter-element:hover {
  display: flex;
  border-radius: 1.5em;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  box-shadow: 0 0 0 1px #0065fc;
  border: 2px solid #deebff;
}

.filter-element--icon {
  background-color: #deebff;
  color: #0065fc;
  border-radius: 100%;
  height: 3em;
  width: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  right: 2px;
}

.filter-element--title {
  margin: 0 1rem 0 1rem;
  font-weight: bold;
}
.filter-search p {
  padding-right: 11px;
  font-weight: bold;
}

.btn-filter {
  border: solid 2px #f2f2f2;
  border-radius: 1.5rem 1.5rem 1.5rem 1.5em;
  margin-right: 20px;
}

.btn-filter i {
  color: #0065fc;
  background-color: #deebff;
  border-radius: 50%;
  padding: 10px;
  margin-right: 9px;
}

.info-city {
  display: flex;
  align-items: center;
  padding-top: 17px;
}
.cercle {
  height: 15px;
  width: 15px;
  border: 2px solid #f2f2f2;
  border-radius: 50%;
}

.info-city i {
  padding: 3px;
  text-align: center;
  font-size: 12px;

  color: #0065fc;
  margin-right: 5px;
}

/*hosting*/

.accomodation-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  border-radius: 2%;
  gap: 34px;
  margin-top: 38px;
}

.accomodation-container-results {
  background-color: #f2f2f2;
  border-radius: 2rem;
  padding: 30px;
}

a {
  text-decoration: none;
  color: black;
}

h3 {
  margin-top: 0;
  margin-bottom: 6px;
}

.hosting-more {
  padding: 0;
  margin-top: 24px;
}

.accomodation-container p {
  margin-top: 0;
}
.starsrate .fas {
  color: #0065fc;
}

.starsrate .false {
  color: #f2f2f2;
}

.starsrate {
  margin-top: auto;
  margin-bottom: 10px;
}

.accomodation-container-results-title {
  margin: 0;
  padding: 0 0 2rem 0;
}

/*block1*/

.accomodation-container-results-grid--element---description {
  text-decoration: none;
}

.accomodation-container-results-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-row: 2;
  gap: 28px;
}

.accomodation-container-results-grid--element {
  background-color: rgb(255, 254, 254);
  display: grid;
  grid-template-rows: 1fr;
  border-radius: 1.2rem;
  padding: 3px;
  box-shadow: 0px 3px 12px 0px rgb(196 196 196);
  width: 93%;
}

.accomodation-container-results-grid--element---image-container {
  height: 113px;
  overflow: hidden;
}

.accomodation-container-results-grid--element---image {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  text-align: center;
}

.accomodation-container-results-grid--element---description {
  margin-top: 10px;
  margin-left: 12px;
  margin-bottom: 10px;
}

/*populaire*/

.accomodation-container-populars {
  background-color: #f2f2f2;
  border-radius: 2rem;
  padding: 30px;
}

.accomodation-container-populars-title {
  margin: 0;
  padding: 0 0 2rem 0;
  display: flex;
  justify-content: space-between;
}

.accomodation-container-populars-grid--element---image {
  height: 150px;
}

.accomodation-container-populars-grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-row: 2;
  gap: 28px;
}

.accomodation-container-populars-grid--element {
  background-color: rgb(255, 254, 254);
  gap: 12px;
  border-radius: 1.7rem;
  padding: 3px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0px 3px 12px 0px rgb(196 196 196);
  height: 150px;
}

.accomodation-container-populars-grid--element---image {
  object-fit: cover;
  object-position: center;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  text-align: center;
}

.accomodation-container-populars-grid--element---description {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 4px;
  padding-right: 33px;
}

/*activités*/

.activities-container {
  display: grid;
  grid-template-columns: auto 20rem auto 22rem;
  grid-template-rows: 14rem 14rem;
  grid-template-areas:
    "card1 card2 card4 card5"
    "card1 card3 card4 card6";
  row-gap: 2rem;
  column-gap: 2rem;
  margin-bottom: 35px;
  margin-top: 50px;
}
.activities-container-element {
  display: grid;
  grid-template-rows: 72% 27%;
  width: 100%;
  box-shadow: 0px 3px 12px 0px rgb(196 196 196);
  border-radius: 1.5rem;
  background-color: white;
  color: black;
}

.activities-container-element--image-src {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  border-top-left-radius: 1.5em;
  border-top-right-radius: 1.5em;
}

.card1,
.card4 {
  display: grid;
  grid-template-rows: 87% 13%;
  width: 100%;
  box-shadow: 0px 3px 12px 0px rgb(196 196 196);
  background-color: white;
  color: black;
}

.card1 {
  grid-area: card1;
}

.card2 {
  grid-area: card2;
  height: 16rem;
  grid-template-rows: 78% 22%;
}

.card3 {
  grid-area: card3;
  height: 11rem;
  margin-top: 15%;
  grid-template-rows: 65% 35%;
}

.card4 {
  grid-area: card4;
}

.card5 {
  grid-area: card5;
  height: 13rem;
}

.card6 {
  grid-area: card6;
}

.activities-container-element > h4 {
  display: flex;
  align-items: center;
  padding-left: 1.5em;
}

.activities-title {
  margin-top: 4px;
  padding-left: 10px;
}

footer {
  background-color: rgb(245, 244, 244);
  padding-bottom: 50px;
  padding-top: 10px;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 60px;
  margin-top: 25px;
}

.img-size {
  height: 30vh;
}

@media (max-width: 1024px) {
  .info-city {
    padding-bottom: 10px;
  }
  .accomodation-container {
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 2%;
    gap: 34px;
    margin-top: 0px;
  }

  .filter-search {
    display: flex;
    grid-gap: 10px;
    align-items: center;
    flex-wrap: wrap;
  }

  .filter-search span {
    width: 100%;
  }

  .filter-element {
    width: 36%;
  }
  .filter-element--icon {
    width: 4.5em;
  }
  .navigation-menu {
    display: flex;
    justify-content: center;
    padding: 3em 0 3em 0;
    border-top: 2px solid white;
    padding-right: 10px;
    padding-left: 10px;
  }

  #activities {
    padding: 23px;
  }

  .activities-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "card1 card2"
      "card1 card3"
      "card4 card5"
      "card4 card6";
    row-gap: 2rem;
    column-gap: 2rem;
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .info-city {
    padding-bottom: 10px;
  }
  .accomodation-container {
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 2%;
    gap: 34px;
    margin-top: 0px;
  }

  .filter-search {
    display: flex;
    grid-gap: 10px;
    align-items: center;
    flex-wrap: wrap;
  }

  .filter-search span {
    width: 100%;
  }
  .filter-element {
    width: 36%;
  }

  .filter-element--icon {
    width: 4.5em;
  }

  .navigation-menu {
    display: flex;
    justify-content: center;
    padding: 3em 0 3em 0;
    border-top: 2px solid white;
    padding-right: 10px;
    padding-left: 10px;
  }

  #activities {
    padding: 23px;
  }

  .activities-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "card1 card2"
      "card1 card3"
      "card4 card5"
      "card4 card6";
    row-gap: 2rem;
    column-gap: 2rem;
    margin-bottom: 10px;
  }
}

@media (max-width: 720px) {
  .navigation-signup {
    display: flex;
    justify-content: center;
    padding: 2em 0em 2em 4em;
    border-top: 2px solid white;
  }

  .navigation-logo {
    padding-left: 15px;
  }

  .bar-search h1 {
    font-size: 20px;
    margin-bottom: 0px;
    padding-bottom: 0;
  }

  .bar-search {
    padding: 20px;
  }

  .navigation-menu {
    display: flex;
    justify-content: center;
    padding: 1em 0 1em 0;
    border-bottom: 2px solid rgb(199, 198, 198);
  }

  .navigation-menu:hover {
    border-bottom: 3px solid #0065fc;
    margin-bottom: 0;
    border-top: none;
  }

  .accomodation-container-populars-grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row: 2;
    grid-template-columns: 100%;
    gap: 28px;
  }

  .accomodation-container-populars {
    grid-area: accomodation-container-populars;
    border-radius: 0px;
    background-color: #f2f2f2;
  }

  .accomodation-container-populars-grid--element---description {
    margin-top: 10px;
    padding-right: 0px;
  }

  #hosting {
    margin-left: 0px;
    padding: 0px;
  }

  .bloc {
    padding: 0px;
  }

  .btn-search {
    display: none;
  }

  .btn-search-mobile {
    display: block;
  }

  .btn-search-mobile i {
    color: white;
  }

  .btn-search-mobile button {
    background-color: #0065fc;
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 0rem 0.5rem 0.5rem 0rem;
  }

  .btn-search-mobile button a {
    color: white;
  }

  .navigation-bar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50% 50%;
    grid-template-areas:
      "menu1 menu4"
      "menu2 menu3";
  }

  .menu1 {
    grid-area: menu1;
  }
  .menu2 {
    grid-area: menu2;
  }
  .menu3 {
    grid-area: menu3;
  }
  .menu4 {
    grid-area: menu4;
  }

  .filter-search {
    display: flex;
    grid-gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .filter-search h3 {
    padding-right: 70px;
    margin-bottom: 0px;
  }

  .filter-element--title {
    margin: 0 0.5rem 0 0.5rem;
    font-weight: 800;
    font-size: 13px;
  }

  .info-city span {
    font-size: 13px;
  }

  .accomodation-container-results {
    background-color: #f2f2f2;
    border-radius: 5%;
    padding: 18px;
  }

  .accomodation-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "accomodation-container-populars"
      "accomodation-container";
    margin-top: 0px;
  }

  .accomodation-container-results {
    background-color: unset;
    border-radius: 5%;
  }

  .accomodation-container-results-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-row: 2;
    gap: 28px;
  }

  .accomodation-container-populars-grid--element {
    border-radius: 1.7rem;
  }

  .accomodation-container-results-grid--element {
    border-radius: 1.2rem;
  }

  #activities {
    padding: 23px;
  }

  .activities-container-element {
    display: grid;
    grid-template-rows: 7rem 3rem;
    box-shadow: 0px 3px 12px 0px rgb(196 196 196);
    border-radius: 1.5rem;
    background-color: white;
    color: black;
  }

  .activities-container-element > h4 {
    padding-left: 1.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 0;
  }

  .accomodation-container-results-grid--element {
    /* background-color: rgb(255, 254, 254); */
    display: grid;
    grid-template-rows: 1fr;
    border-radius: 7%;
    /* padding: 3px; */
    box-shadow: 0px 3px 12px 0px rgb(196 196 196);
  }

  .accomodation-container-populars-grid--element---description p {
    margin-bottom: 30px;
  }

  .activities-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "card1"
      "card2"
      "card3"
      "card4"
      "card5"
      "card6";
    row-gap: 2rem;
    column-gap: 0rem;
    margin-bottom: 10px;
  }

  .card3 {
    height: auto;
    margin-top: 0;
  }

  .card5 {
    height: auto;
  }

  .card2 {
    height: auto;
  }

  .footer-container {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 28px;
  }
}
